:root {
    --primary: lightseagreen;
}

html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

ul{
    padding: 0px;
}

h2, p{
    margin: 0px;
}

header {
    background-color: aqua;
    grid-column: 2/3 ;
}

.container {
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 4fr; 
}

/*Side Bar */
.sidebar {
    font-family: sans-serif;
    font-weight: bold;

    background-color: lightseagreen;
    padding: 1rem;
    grid-area: 1 / 1 / -1 / 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr; 
    font-size: 1.2rem;
}

.logo{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.sidebar li img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.sidebar h2{
    display: flex;
    align-items: center;
    cursor:pointer;
}

.sidebar ul li{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor:pointer;
}

.sidebar ul li:hover{
   font-size: 2rem;
   transition: all 0.5s ease;
}

.content{
    background-color: lightcoral;
    padding: 2rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: clamp(20px,40px,60px) auto;
    column-gap: 20px;
    row-gap: 40px;
}

.cards h1{
    grid-area: 1 / 1 / 2 / 3;
}

.card{
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 10px solid yellow;
    padding:20px;
    grid-template: 1fr auto / 1rem 1fr;
    transition: all 0.2s ease;
}

.cardDetails{
    margin-right:80px;
    margin-bottom: 80px;
}

.card:hover{
    border-left: 20px solid yellow;
}

.cardBtns{
    display: flex;
    justify-content: flex-end;
}

.icon{
    width: 20px;
    height: 20px;
    margin-inline:10px;
    margin-block:10px;
}

/*ASIDE*/
.aside{
    padding: 0px;
    margin: 0px;
}

.aside h1{
    margin-bottom: 20px;
}

.asideCard{
    background-color: white;
    margin: 0px;
    padding:10px;
    border-radius: 20px;
}

.asideCard h3, .asideCard p{
    margin-block: 0px;
}

.trendingBtn{
    display: flex;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    align-items: center;
    margin-block:10px;
}

.trendingBtn:hover{
    background-color: lightblue;
}

.trendingBtn img{
    border-radius: 50%;
    max-width: 40px;
    margin-right: 10px;
}

.trendingBtnInfo p{
    text-align: start;
}